@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap');

:root {
  --offwhite: #f8f4f0;
  --darkPurple: #762c61;
  --whiteApp: #fffaf8;
  --borderColor: #d8c4ce;
  --red: #ff0000;
  --lightGray: #a0a0a0;
  --smallFont: 12px;
}

* {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-top: 30px;
}

.container {
  width: 100%;
  max-width: 800px; /
}

/* Mantendo o alinhamento do título e logo */
.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 26px;
  font-weight: bold;
  color: var(--darkPurple);
}

.logo {
  width: 80px;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 16px;
  width: 100%;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field label {
  font-size: 16px;
  color: var(--darkPurple);
  margin-bottom: 5px;
}

.input-field input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  font-size: 16px;
  background: transparent;
  color: #333;
}

.input-field input::placeholder {
  color: var(--lightGray);
  font-size: var(--smallFont);
}

.input-field label .required {
  color: var(--red);
}

.input-field input[type="date"] {
  font-size: 12px;
  color: var(--lightGray); 
}

.button {
    border-radius: 8px;
    background-color: var(--darkPurple);
    color: var(--offwhite);
    width: 150px;
    height: 43px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .button:hover {
    opacity: 0.9;
  }

  .button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

/* Responsividade */
@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  .container {
    max-width: 100%;
  }

  form {
    padding: 20px;
  }

  .title {
    font-size: 22px;
  }

  .logo {
    width: 60px;
  }
}
